<!-- <ul>
    <div *ngFor="let album of albums | async">
        {{album.id}}
        <br/> {{album.user}}
        <br/>
        <img *ngFor="let image of album.images" src="../../assets/images/{{image}}" />
        <hr/>
    </div>
</ul> -->

<div class="row">
    <div class="col-sm-4 mt-3" *ngFor="let album of albums | async">
        <div class="card">
            <img class="card-img-top" src="../../assets/images/{{album.images[0]}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{album.title}}</h5>
                <p class="card-text">{{album.user}}</p>
                <button class="btn btn-primary">View Gallery</button>
            </div>
        </div>
    </div>
</div>